/* App.css */

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #333;
}

.App h1 {
  color: white;
  background-color: #e01b1c;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.positions-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.positions-table th, .positions-table td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.positions-table th {
  background-color: #f3f3f3;
  color: #333;
}

.positions-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
